FRONTEND_API_URL=https://mapa.wiating.eu/v2-api
FRONTEND_CDN_URL=https://serwer.wiating.eu/images
AUTH0_DOMAIN=wiating.auth0.com
FRONTEND_AUTH0_METADATA_OBJECT_KEY=https://mapa.wiating.eu/app_metadata
FRONTEND_AUTH0_MODERATOR_ROLE=moderator
FRONTEND_AUTH0_CLIENT=XXXXX
FRONTEND_MAINTENANCE=false
CUSTOMIZATION_URL=https://raw.githubusercontent.com/wiating-app/sites/main/wiating