{
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "arrowParens": "avoid",
  "semi": false,
  "bracketSpacing": true,
  "importOrder": ["^react$", "<THIRD_PARTY_MODULES>", "^../", "^./"],
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
